@import '../../styles/imports';

.board-bar {
	background-color: lighten($c, 10%);
	color: $white;
	padding: 5px;

	h1 {
		font-size: 0.9rem;
		font-weight: 500;
		margin: 0;
		padding: 0;
	}
}

.lists-list {
	display: grid;
	grid-template-columns: repeat(3, 200px);
	grid-gap: 1rem;
}

.list-item {
	background-color: lighten($a, 30%);
	border-radius: 3px;
	padding: 10px;

	h2 {
		font-size: 0.8rem;
		margin: 0;
	}
}
