@import '../../styles/variables';

.board-bar {
	background-color: lighten($c, 10%);
	color: $white;
	padding: 5px 15px;

	h1 {
		font-size: 0.9rem;
		font-weight: 500;
		margin: 0;
		padding: 0;
	}
}

.lists-container {
	align-items: baseline;
	display: grid;
	grid-template-columns: repeat(100000, 250px);
	grid-gap: 1rem;
}

.list-item {
	background-color: lighten($a, 30%);
	border-radius: 3px;
	max-height: calc(100vh);
	overflow: hidden;
	padding: 5px 10px 0;
	position: relative;

	input {
		background-color: lighten($a, 30%);
		border: 0;
		cursor: pointer;
		font-size: 0.8rem;
		font-weight: bold;
		margin: 0;
		padding: 5px;
		width: 100%;

		&:focus {
			background-color: white;
			border: 2px solid #3a556c;
			font-weight: bold;
			outline: none;
			padding: 3px;
		}
	}
}

.tasks-container {
	-webkit-overflow-scrolling: touch; // sass-lint:disable-line no-vendor-prefixes
	max-height: calc(100vh - 163px);
	overflow: scroll;
}

.task-item {
	align-items: center;
	background-color: $white;
	border-radius: 3px;
	display: grid;
	grid-template-columns: 1fr auto;
	margin: 5px 0;
	padding: 5px;
	position: relative;

	h3 {
		font-size: 0.7rem;
		font-weight: 500;
		line-height: 1.5;
		margin: 0;
	}

	p {
		font-size: 0.8rem;
	}

	.date-container {
		float: right;
		margin-left: 5px;
		min-width: 75px;

		p {
			&:last-child {
				margin-top: 2px;
			}
		}
	}

	.date {
		background-color: rgb(246, 246, 246);
		border: 1px solid rgb(202, 200, 200);
		border-radius: 5px;
		font-size: 0.7rem;
		margin: 0 0 0 2px;
		padding: 3px 5px;

		&.coming-up {
			background-color: rgb(238, 255, 0);
		}

		&.due {
			background-color: rgb(255, 0, 0);
			color: $white;
		}

		&.past-due {
			background-color: rgb(148, 42, 42);
			color: $white;
		}
	}
}

.add-task-button {
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	color: $a;
	display: block;
	font-size: 0.7rem;
	margin: 0 -10px;
	padding: 10px;
	text-decoration: none;
	transition: background-color 0.3s, color 0.3s;

	&:hover {
		background-color: lighten($a, 10%);
		color: $white;
	}
}
