body {
	font-family: 'IBM Plex Sans', sans-serif;
}

button,
.button {
	background-color: $a;
	border: 1px solid $b;
	border-radius: 3px;
	color: $white;
	display: inline-block;
	padding: 5px 10px;
	text-decoration: none;
}

.sr {
	-webkit-clip-path: inset(50%);
	border: 0;
	clip: rect(0, 0, 0, 0);
	clip-path: inset(50%);
	height: 1px;
	overflow: hidden;
	padding: 0;
	position: absolute !important;
	white-space: nowrap;
	width: 1px;
}
