html {
	height: 100%;
}

body {
	font-family: 'IBM Plex Sans', sans-serif;
	min-height: 100%;
}

*,
:after,
:before {
	box-sizing: inherit;
}

button,
.button {
	background-color: $a;
	border: 1px solid $b;
	border-radius: 3px;
	color: $white;
	display: inline-block;
	padding: 5px 10px;
	text-decoration: none;
}

.sr {
	-webkit-clip-path: inset(50%); // sass-lint:disable-line no-vendor-prefixes
	border: 0;
	clip: rect(0, 0, 0, 0);
	clip-path: inset(50%);
	height: 1px;
	overflow: hidden;
	padding: 0;
	position: absolute !important;
	white-space: nowrap;
	width: 1px;
}

.container {
	margin: 0 auto;
	padding: 15px;
}

.fixed {
	max-width: 960px;
}

.error404 {
	background-color: $c;
	border-radius: 5px;
	margin-top: 30px;
	padding: 50px 30px;
	text-align: center;

	h1 {
		color: $white;
		margin-top: 0;
	}
}

.cover {
	@extend %cover;

	background-position: center bottom;
}
