@import '../../styles/variables';
@import '../../styles/helpers';

.boards-list {
	h1 {
		font-size: 1.3rem;
		margin-bottom: 0.5rem;
	}

	h2 {
		font-size: 1rem;
		margin: 0;
		padding: 0;
		position: relative;
		z-index: 1;
	}

	a {
		text-decoration: none;
	}

	.boards {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		grid-gap: 1rem;
	}

	.board {
		background-color: $a;
		background-position: center bottom;
		border-radius: 3px;
		color: $white;
		min-height: 7rem;
		padding: 1rem;
		position: relative;

		&:after {
			background-color: rgba($black, 0.3);
			bottom: 0;
			content: '';
			left: 0;
			position: absolute;
			right: 0;
			top: 0;
			z-index: 0;
		}
	}
}

.master-board-class {
	&.show-form-button {
		width: 100%;
	}

	button {
		margin-right: 5px;
	}

	.new-item-form {
		background-color: $gray234;
		border-radius: 3px;
		padding: 10px;
	}

	.new-item-textarea {
		@include placeholder {
			font-weight: 500;
		}

		border: 0;
		border-radius: 3px;
		font-size: 0.8rem;
		font-weight: bold;
		line-height: 1.5;
		margin: 0 0 5px;
		padding: 2px 3px;
		resize: none;
		width: 100%;
	}
}
